#title {
  margin-top: 50px;
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 150px;
  font-style: italic;
  color: rgba(255,255,255,.9);
  text-shadow:
    rgba(0,0,255,.5) 20px 20px, /* blue */
    rgba(255,0,0,.5)  -20px -20px, /* red */
    rgba(255,255,0,.5)  0px 20px, /* yellow */
    rgba(0,255,0,.5)  20px 0px; /* green */
}

#theRobot {
  width: 250px;
  position: relative;
}

#spinner {
  width: 110px;
  height: 110px;
  border-radius: 55px;
  overflow: hidden;
  background: #eee no-repeat center;
  background-size: cover;
  background-image: url(/static/img/circle.gif);
  position: absolute;
  top: 123px;
  left: 67px;
  display: none;
}

#eye-form {
  width: 110px;
  height: 110px;
  max-height: 110px;
  max-width: 110px;
  border-radius: 55px;
  overflow: hidden;
  background: #fff;
  position: absolute;
  top: 123px;
  left: 67px;
  opacity: 0;
  padding: 0;
}
#eye-form:hover {
  cursor: pointer;
}

#eye-form.dz-drag-hover {
  opacity: .5;
  border: 3px dashed black;
  width: 110px !important;
  height: 110px;
  top: 120px;
  left: 64px;
  max-height: 110px;
  max-width: 110px;
}

.dz-preview.dz-image-preview {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.dz-preview.dz-image-preview img {
  border-radius: 50%;
}

.errortext {
  color: red;
  background-color: lightgrey;
  font-family: monospace;
}
