<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ROBOVISION: Comparing image recognition APIs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cutestrap/1.3.1/css/cutestrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <script src="/static/js/dropzone.js"></script>
</head>

<body>
  <div class="wrapper">
    <h1 id="title" class="ta-center">ROBOVISION!</h1>
    <p class="ta-center">Click my eye or drag an image onto it and I will tell you what I think I see!</p>
    <div class="grid">
      <div id="left_side">
        <div id="theRobot" class="ta-center">
          <img src="/static/img/robot.svg" id="robot" alt="I am a robot!">
          <div id="spinner"></div>
          <form action="" id="eye-form" class="dropzone">
            <div class="dz-message"></div>
          </form>
          <label class="checkbox">
            <input id="sound_switch" type="checkbox" checked/>
            <span class="checkbox__label">Sound</span>
          </label>
        </div>
      </div>
      <div id="right_side">
        <div id="previews" class="dropzone-previews"></div>
        <div id="results">
        </div>
      </div>
    </div>
  </div>
  <audio id="ding" src="/static/audio/ding.mp3" hidden preload="auto"></audio>
  <audio id="beepboop" src="/static/audio/beepboop.mp3" hidden preload="auto"></audio>
  <footer class="ta-center fs-small">
    <a href='http://www.freepik.com/free-vector/cute-robots-collection_713858.htm'>Robot Designed by Freepik</a>
    <a href="https://www.freesound.org/people/monsterjazzlicks/sounds/347513/">"Five Little Fingers" by monsterjazzlicks</a>
  </footer>
  <div id="preview-template" style="display: none;">
    <div class="dz-preview dz-file-preview">
      <img class="thumbnail" data-dz-thumbnail />
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script>
      const beepboop = document.querySelector('#beepboop');
      const ding = document.querySelector('#ding');
      const service_names = ["GoogleVision", "Rekognition", "CloudSight"]
      const services_count = service_names.length;
      const robot = document.getElementById('robot');
      const soundSwitch = document.getElementById('sound_switch');
      const msg = new SpeechSynthesisUtterance();
      var files = [];
      var file;
      var pendingResults = 0;
      var start = null;
      let sound = soundSwitch.checked;
      let voices = [];
      Dropzone.autoDiscover = false;
      speechSynthesis.addEventListener('voiceschanged', populateVoices);
      function populateVoices() {
        voices = this.getVoices();
      }
      msg.onend = function(event){
        if (pendingResults > 0) beepboop.volume = 1;
      }

      soundSwitch.addEventListener("change", function(){
        sound = soundSwitch.checked;
        if(sound !== true) { // shut off sounds
          beepboop.pause();
          beepboop.currentTime = 0;
          ding.pause();
          ding.currentTime = 0;
        }
      });
      $(function() {
        var myDropzone = new Dropzone("#eye-form", {
          url: function(files){
            return("");
          },
          accept: function(file) {
            $("#results").text("");
            sendTheFile(file);
          },
          thumbnail(imageFile, dataURL){ // we have to catch it here to be able to clear #previews before new images come in, but because of that, we're having to add the thumbnails manually
            if (pendingResults === 0) {
              $("#previews").html(""); // checking to see if this is a new batch of images, if so, clear our #previews first
              window.requestAnimationFrame(hueFilter);
            }
            $("#previews").append(`<div class="dz-preview dz-image-preview" data-filename="${imageFile.name}"><img src=${dataURL} alt="${imageFile.name}"></div>`)
            pendingResults += services_count;
          },
          previewTemplate: document.getElementById('preview-template').innerHTML,
          previewsContainer: "#previews",
          acceptedFiles: "image/*"
        });
      })

      function sendTheFile(file) {
          var formData = new FormData();
          formData.append("image", file);
          $("#spinner").show();
          if(sound) beepboop.play();
          service_names.forEach(function(name) {
            $.ajax({
                url: `/api/1/${name}`,
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function(result) {
                  if (result.search_terms.length === 0) {
                    $(`#previews [data-filename='${file.name}']`).append(`<p class="fw-bold fs-large">${name} couldn't recognize this</p>`);
                  } else {
                    $(`#previews [data-filename='${file.name}']`).append(`<p class="fw-bold fs-large ${name}">${name} sees: ${result.search_terms.join(', ')}</p>`);
                    if(name === "CloudSight" && sound){
                      beepboop.volume = .3;
                      msg.text = ", , , , , I see " + result.search_terms[0]; // adding a few commas up front gives us a bit of a pause before speaking
                      speechSynthesis.speak(msg);
                      let grid = $('<div class="grid fs-base fw-normal">');
                      grid.append('<div class="column--light">');
                      grid.append($('<div class="column--heavy">').text('Image subjects: ' + result.subjects.join(', ')));
                      $(`.${name}`).append(grid);
                    }
                  }
                },
                error: function(jqXHR, status, errorText) {
                  $(`#previews [data-filename='${file.name}']`).append(`<p class="error fw-bold fs-large">Oops, ${name} had an error! <span class="errortext">${errorText}</span> (It's not your fault, I promise)</p>`);
                },
                complete: function(jqXHR, status) {
                  resultsBack();
                }
            });
          })
      }

      function resultsBack(jqXHR, status) {
        pendingResults -= 1;
        if(pendingResults ===0){
          $("#spinner").hide();
          beepboop.pause();
          beepboop.currentTime = 0;
          if(sound) ding.play();
        }
      }

      function hueFilter(timestamp) {
        if (!start) start = timestamp;
        var progress = timestamp - start;
        robot.style.filter = "hue-rotate("+ progress / 2 % 360 + 'deg)';
        if (pendingResults > 0 ) {
          window.requestAnimationFrame(hueFilter);
        } else {
          robot.style.filter = "hue-rotate(0deg)";
        }
      }

  </script>
</body>

</html>
